body {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0099ff;
    padding-bottom: 65px;
}
.home {
background-image:url(aboutpic.jpg);

}
#container{
  width: 1100px;
  margin: 0 auto;
}
#first-pic{
  width: 300px;
  border-radius: 50%;
  position:relative;
  left: 115px;
  margin-top: 110px;
}
.two-column{
  display:grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
}
footer {
  background: #343a40;
    color: #686868;
    height: 35px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px 0 20px 0;
    margin-top: 50px;
}
head{
  margin: 10px;
  padding: 0;
}
.nav-links{
  display: flex;
justify-content: space-around;
list-style: none;
padding: 10px;
}
.nav-link {
    color: #333;
    font-size: 18px;
}
.nav-link:hover {
  background-color: #0099ff;
}
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 160px;
    margin-left: 10px;
}
.text p {
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
footer p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #f1f0ee;
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
.fbmail {
    padding: 0px 90px 120px 50px;
    position: absolute;
  }
.contact {
  display:flex;
  list-style: none;
  float:right;
  position: relative;
  width: 60px;
  margin-right: 20px;
}
.contact li img {
  margin-right: 20px;
}
